<div class="container">
  <h2>Your Tickets</h1>
  <% if @errors %>
    <p>Error: <%= @errors[:message] %></p> 
    <p>Oi, no sneaky beaky!</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Status</th>
          <th>ID</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td>
            <div class="status"><%= ticket.status.capitalize %></div>
          </td>
          <td>#<%= ticket.id %></td>
          <td><%= link_to ticket.subject, ticket_path(ticket.id) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class="link">
    <% if @prev %>
      <%= link_to "Previous", root_path(page: @prev[:page], per_page: @prev[:per_page]) %>
    <% end %>
    <% if @next %>
      <%= link_to "Next", root_path(page: @next[:page], per_page: @next[:per_page]) %>
    <% end %>
    </div>
  <% end %>
</div>
